.section {
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
// main page-section title
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: $mainDarkColor;
}
