.portfolio__content {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-content__item {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}
.portfolio-card {
  @extend %link;
  display: block;

  @include transition($property: box-shadow);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: $mainBorderRadius;
  }
}
.portfolio-card__image {
  display: block;
  max-width: 100%;
  height: auto;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.portfolio-card__thumb {
  position: relative;

  overflow: hidden;
}
.portfolio-card__overlay {
  top: 0;
  left: 0;

  position: absolute;
  width: 100%;
  height: 100%;

  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;

  font-size: 18px;
  line-height: 1.56;

  color: $whiteColor;
  background-color: rgba(33, 150, 243, 0.9);
  border-top-left-radius: $mainBorderRadius;
  border-top-right-radius: $mainBorderRadius;

  transform: translateY(100%);
  opacity: 0;

  @include twoTransitions(
    $propertyI: transform,
    $propertyII: opacity,
    $time: 500ms
  );

  .portfolio-card:hover &,
  .portfolio-card:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.portfolio-card__description {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.portfolio-card__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $mainDarkColor;
}
.portfolio-card__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;

  color: $textColor;
}
