.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  // margin-bottom: 50px;
}
.clients__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}
.clients-list__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
}
// .clients-list__item:not(:last-child) {
//   margin-right: 30px;
// }
.client-card {
  @include vCenteredFlex();
  justify-content: center;

  // width: 170px;
  height: 90px;

  color: $svgColor;

  border: 1px solid $svgColor;
  border-radius: $mainBorderRadius;

  @include twoTransitions($propertyI: color, $propertyII: border);

  &:hover,
  &:focus {
    color: $accentColor;

    border: 1px solid $accentColor;
  }
}
