.our-strenghts__container {
  position: relative;

  &::before {
    position: absolute;
    bottom: -94px;
    left: 0;
    content: "";
    width: 100%;

    border-bottom: 1px solid #ececec;
  }
}
.our-strenghts__title {
  @extend %visually-hidden;
}
.our-strenghts__list {
  @extend %list;
  display: flex;
}
.strengths__item:not(:last-child) {
  margin-right: 30px;
}
.strengths__svg-wrap {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: $bgColor;

  border-radius: $mainBorderRadius;
}
.strengths__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $mainDarkColor;
}
.strengths__text {
  margin-top: 0;
  margin-bottom: 0;
}
