.our-strenghts__title {
  @extend %visually-hidden;
}
.our-strenghts__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.strengths__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}
.strengths__svg-wrap {
  padding: 25px 0px;
  margin-bottom: 30px;

  background-color: $bgColor;

  border-radius: $mainBorderRadius;
}
.strengths__icon {
  display: block;
  margin: 0 auto;
}
.strengths__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: $mainDarkColor;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.strengths__text {
  margin-top: 0;
  margin-bottom: 0px;
}
