.page-header__container {
  // @include vCenteredFlex();
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
}
