.header-navigation__nav-contacts {
  @extend %list;
  @include vCenteredFlex();
  margin-left: auto;
}
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.nav-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.nav-contacts__link {
  @extend %link;
  display: flex;
  align-items: center;

  color: $textColor;

  @include transition($property: color);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.nav-contacts__icon {
  margin-right: 10px;
}
