.header-navigation__logo {
  @media screen and (min-width: 768px) {
    margin-right: 81px;
  }
  // margin-right: 85px;
}
.page-header__navigation {
  @include vCenteredFlex();

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
// обертка навигации мобильного бургер меню
.header-navigation__wrapper {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.17;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 60px 0px;

    text-align: center;

    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);

    opacity: 0;
    pointer-events: none;

    @include transition($property: opacity);

    &.is-open {
      opacity: 1;
      pointer-events: initial;
    }
  }

  @media screen and (min-width: 768px) {
    @include vCenteredFlex();

    font-size: 14px;
    line-height: 1.14;
  }
}
.header-navigation__nav-menu {
  @extend %list;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    @include vCenteredFlex();
  }
}
.nav-menu__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    &--current-page {
      margin-bottom: 52px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}
.nav-menu__link {
  @extend %link;
  display: block;

  color: $mainDarkColor;

  @include transition($property: color);

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (max-width: 767px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav-menu__link--current-page {
  position: relative;

  color: $accentColor;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    height: 4px;
    width: 100%;

    background-color: $accentColor;

    border-radius: 2px;

    @media screen and (max-width: 767px) {
      bottom: -8px;
    }
  }
}
// contacts
.header-navigation__nav-contacts {
  @extend %list;
  // @include vCenteredFlex();

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
.nav-contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.nav-contacts__link {
  @extend %link;
  display: flex;
  align-items: center;

  color: $textColor;

  @include transition($property: color);

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (max-width: 767px) {
    display: inline-flex;
  }
}
.nav-contacts__icon {
  margin-right: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
