// reset placeholders
%link {
  text-decoration: none;
}
%list {
  margin: 0;
  padding: 0;

  list-style: none;
}
%button {
  display: inline-block;

  font-family: inherit;
  letter-spacing: inherit;

  cursor: pointer;
}
// visually hidden elements
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
