$mainDarkColor: #212121;
$textColor: #757575;
$whiteColor: #ffffff;
$accentColor: #2196f3;
$bgColor: #f5f4fa;
$bgFooterColor: #2f303a;
$svgColor: #afb1b8;

$mainBezier: cubic-bezier(0.4, 0, 0.2, 1);

$mainFont: Roboto, sans-serif;
$logoFont: Raleway, sans-serif;

$mainBorderRadius: 4px;
