.hero {
  max-width: 480px;
  // max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  // для центрирования максимальной ширины героя
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(26, 29, 63, 0.8)
    ),
    url(../images/hero-mobile.jpg);
  background-color: #000000;
  background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(26, 29, 63, 0.8)
      ),
      url(../images/hero-tablet.jpg);
    background-color: #000000;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(26, 29, 63, 0.8)
      ),
      url(../images/hero-desktop.jpg);
    background-color: #000000;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-mobile@2x.jpg);
    background-color: #000000;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-tablet@2x.jpg);
    background-color: #000000;
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-desktop@2x.jpg);
    background-color: #000000;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $whiteColor;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;

    margin-bottom: 32px;
  }
}
.hero__button {
  @extend %button;

  min-width: 200px;
  padding: 9px 31px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $whiteColor;
  background-color: $accentColor;

  border: 1px solid transparent;
  border-radius: $mainBorderRadius;
}
