.joinus {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
  }
}

.joinus__appeal {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $whiteColor;
}
.joinus__socialnetworks {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.socialnetworks__item:not(:last-child) {
  margin-right: 10px;
}
